network-concurrency 1
registry "https://registry.npmmirror.com"
canvas_binary_host_mirror "https://npmmirror.com/mirrors/canvas"
sass_binary_site "https://npmmirror.com/mirrors/node-sass"
phantomjs_cdnurl "https://npmmirror.com/mirrors/phantomjs"
electron_mirror "https://npmmirror.com/mirrors/electron"
sqlite3_binary_host_mirror "http://npmmirror.com/mirrors/sqlite3"
profiler_binary_host_mirror "http://npmmirror.com/mirrors/node-inspector"
chromedriver_cdnurl "https://npmmirror.com/mirrors/chromedriver"
operadriver_cdnurl "https://npmmirror.com/mirrors/operadriver"
sentrycli_cdnurl "https://npmmirror.com/mirrors/sentry-cli"
fse_binary_host_mirror "https://npmmirror.com/mirrors/fsevents"